<header class="main-header">
    <div id="logo">
        <img id="logoimg" src="./petitions.png"  alt="logo">
    </div>
    <div class="nav">
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</header>
