<header class="main-header">
    <div id="logo">
        <img id="logoimg" src="/petitions.png"  alt="logo">
    </div>
    <div class="nav">
        <ul class="navbar">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</header>
