<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Petition!</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div class="maincontainer">
    {{#if header}}
      {{>header}}
    {{else}}
      {{>logoutheader}}
    {{/if}}
    
    {{{body}}}

    </div>


    {{>footer}}

  </body>
</html>
