  <div class="hometxtdiv">
    <p class="hometxt">Start a Campaign. Sign a petition to make a difference!</p>
  </div>
  <div class="homeimagediv">
     <p class="homeimagetxt">MOVIES INFLUENCE KIDS.<br> MAKE THEM SMOKE - FREE!</p>     
  </div>
