<div class="home">
  <div class="hometxtdiv">
    <p class="hometxt">Start a Campaign. Sign a petition to make a difference!</p>
  </div>
  <div class="homeimagediv">
     <p class="homeimagetxt">MOVIES INFLUENCE KIDS.<br> MAKE THEM SMOKE - FREE!</p>
     <p class="introtxt"><span class="intro">Put on the pressure |</span> To protect millions of kids worldwide, join others working from the local to the international level to stop smoking in movies from killing in real life...</p>
  </div>
</div>
