<div class="Main">
  <div class="login">
    <img src="/no_smoking.png" alt='nosmoking'/>
    <p class='logintext'>Please Sign In</p>
  </div>
  <div class="Formdiv">
    <form class="logindetails" method="post">
      <label>Email Address:<input type="text" name="emailid"></label>
      <label>Password :<input type="text" name="pswd"></label>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <button type="submit" name="signinbtn">Sign In</button>
    </form>
  </div>
  <div class="Message">
    {{>ErrorMsg}}
  </div>
</div>
