<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Petition!</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <div class="Main">
      <div class="textdiv">
        <img src="/no_smoking.png" alt='nosmoking'/>
        <p>We demand to Stop being subjected to Passive smoking !! Smoking to be banned in public places
like bus-stops, U bahn stations, Tram Stops</p>
      </div>
      <div class="petitioner">
        {{>petitioners}}
      </div>
    </div>
  </body>
</html>
