
<div class="Main">
    <div class="textdiv">
      <img class="topimg" src="/no_smoking.png" alt='nosmoking'/>
      <p class='pettxt'>Thank you for signing our petition!</p>
    </div>
    <div class="signdisplay">
      <img class='signimg' src="{{signature}}" alt="sign">
    </div>
    <div class="Message">
      <p><a href='/petition/signers'>See all {{numSigners}} Signers</a></p>
      <p><a href='/profile/edit'>Edit your profile</a></p>
      <form class="deletelink" action='/delete' method="post">
        <p><button type="submit" class="deletelink"><span>Delete your Signature</span></button></p>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
      </form>
    </div>
</div>
