
<div class="Main">
    <div class="textdiv">
      <img src="/no_smoking.png" alt='nosmoking'/>
      <p class='pettxt'>Thank you for signing our petition!</p>
    </div>
    <div class="signdisplay">
      <img class='signimg' src="{{signature}}" alt="sign">
    </div>
    <div class="Message">
      <a href='/petition/signers'>See all {{numSigners}} Signers</a>
    </div>
</div>
