<div class="Main">
  <div class="textdiv">
    <img src="/no_smoking.png" alt='nosmoking'/>
    <p>We the undersigned demand to rate the movies better, to protect children from smoking habit.</p>
  </div>
  <div class="petitioner">
    {{>petitioners}}
  </div>
</div>
