* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	height: 100%;
}
.maincontainer {
	display: block;
	min-height: 100%;
	height: auto !important;
	margin-bottom: -15px; /* the bottom margin is the negative value of the footer's total height */
}
.maincontainer:after {
	content: "";
	display: block;
	height: 15px; /* the footer's total height */
}
header {
	padding: 10px;
	height: 100px;
	width: 100%;
	background-color: grey;
}
#logo {
	position: absolute;
	display: inline-block;
}
#logoimg {
	height: 80px;
	width: 80px;
}
.navbar {
	float: right;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.nav li {
	font-family: "Courier new", sans-serif;
	font-size: 1.5em;
	line-height: 35px;
	height: 35px;
	float: left;
	padding: 12px;
	margin-right: 10px;
}

.nav a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: 0.3s background-color;
	text-align: left;
}

.nav a:hover {
	background-color: #a9a9a9;
}

.nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

.textmain {
	padding: 7em;
	padding-bottom: 7em;
	margin-bottom: 7em;
}
.footer {
	height: 15px;
}

#footer-content {
	background-color: grey;
	color: white;
	height: 15px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
	padding: 17px;
	line-height: 0.5;
}

.pettxt,
.regtxt {
	word-wrap: break-word;
}
.sign {
	display: none;
}
img {
	height: 150px;
	width: 300px;
}
.signimg {
	height: 100px;
}

.hometxt,
.hometxtdiv,
.signdisplay,
.petition,
.petitioner,
.textdiv,
.Formdiv,
.RegMain,
.Main {
	text-align: center;
	font-size: 20px;
	font-family: Verdana;
}
canvas {
	border: 3px solid #669999;
	margin-top: 5%;
}

.CanvasFormdiv {
	margin-top: 5%;
	margin-left: 40%;
}
.CanvasFormdiv button {
	display: block;
	margin-left: 10%;
	margin-top: 2%;
}
.signdisplay {
	margin-top: 5%;
	border: 3px solid #669999;
	margin-left: 40%;
	width: 300px;
}
.hometxtdiv {
	margin-top: -25px;
	height: 100px;
	background-color: orange;
}
.homeimagediv {
	background-image: url("kids.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: 650px;
	margin-bottom: -15px;
	padding-top: 1px;
}
.hometxt {
	padding: 50px;
	font-family: Impact;
	font-size: 25px;
}
.homeimagetxt {
	padding-top: 15%;
	padding-left: 10px;
	font-family: Impact;
	text-align: left;
	word-wrap: break-word;
	font-size: 30px;
}

.deletelink {
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	overflow: visible;
	width: auto;
	font-size: 20px;
}

.deletelink span {
	text-decoration: underline;
}
.delelink:hover span,
.delelink:focus span {
	color: black;
}
.copyright {
	position: fixed;
	font-size: 12px;
	color: white;
	margin-top: 165px;
}
.Formdiv {
	margin-top: 5%;
	margin-left: 35%;
	max-width: 500px;
	background: #669999;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687e;
	border-radius: 5px;
}
.topimg {
	margin-top: 2%;
	margin-left: 5%;
}
label {
	display: block;
	margin: 10px;
	font-size: 20px;
}

button[type="submit"],
.Formdiv input[type="text"],
.Formdiv input[type="email"],
.Formdiv label {
	font-size: 20px;
}

.Formdiv button[type="submit"],
.CanvasFormdiv button[type="submit"] {
	background: #576e86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #a8bace;
}
.Formdiv button[type="submit"]:hover,
.CanvasFormdiv button[type="submit"]:hover {
	background: #394d61;
}

.RegMain {
	position: relative;
	background-color: #aed6f1;
	margin-bottom: -20px;
	min-height: 100vh;
	height: auto !important;
}

.Main,
.PetitionMain {
	background-color: #aed6f1;
	height: 100vh;
}
.PetitionMain {
	margin-top: -85px;
}
.petition {
	margin-top: 5%;
}
.pettxt {
	padding-top: 10px;
}
